@model IEnumerable<Dades.Models.Espectacle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sinopsi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.durada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cartell)
        </th>
        <th>
          Autor  @Html.DisplayNameFor(model => model.Autor.NIF)
        </th>
        <th>
           Director @Html.DisplayNameFor(model => model.Director.NIF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sinopsi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.durada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cartell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor.NIF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director.NIF)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EspectacleID }) |
            @Html.ActionLink("Details", "Details", new { id = item.EspectacleID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EspectacleID })
        </td>
    </tr>
}

</table>
