@model IEnumerable<Dades.Models.Funcio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Espectacle.titol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teatre.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaInici)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaFi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Espectacle.titol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teatre.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaInici)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaFi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
